
.slide {
    box-sizing: border-box;
    overflow: hidden;

    width: 1920px;
    height: 1080px;
    
    border: 1px solid #b8b9b9;
    border-radius: 4px;
    border-radius: 40px;
    box-shadow: 10px 10px 15px 0  rgba(0, 0, 0, 0.8);
    
    --font-size: 48px;
    --margin-left-p: 20px;
    --marging-left-li: 40px;

}


.slide_title {
    display: flex;
    flex-direction: column;
    position: relative;
}
.slide_title h1 {
    font-size: 130px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide_title p {
    font-size: 3rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.slide_regular {
    padding: 30px 30px 10px 30px; 
}
.slide_regular h2 {
    font-size: 100px;
    margin: 0px 0px 30px 0px;
}
.slide_regular h3 {
    font-size: 60px;
    margin: 50px 0px 20px 0px;
}
.slide_regular p {
    font-size: var(--font-size);
    margin-left: var(--margin-left-p);
    margin-top: 5px;
}
.slide_regular ul {
    margin-top: -20px;
    margin-bottom: 60px;
}
.slide_regular li {
    font-size: var(--font-size);
    margin-bottom: 20px;
    margin-left: var(--marging-left-li);
    
}
.slide_regular iframe {
    display: block;
    margin: 0 auto;
    border-radius: 1.5em;
    height: 800px;
    width: 100%;
}

.slide_regular p img {
    display: block;
    margin: 0 auto;
    border-radius: 0.5em;
    max-height: 800px;
    max-width: 100%;
}



.slide__controls {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}
    
.slide__controls button {
    border-radius: 100px;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.297);
    background-color: #3636367f;
    font-size: 40px;
    color: #b8b9b9;
    padding: 20px;
}

