.header {
  background-color:#383939;
  
  width: 100%;
  height: 80px;
  min-width: 750px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px 15px 0  rgba(0, 0, 0, 0.8);

  position: fixed;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-left {
  margin-left: 5%;
  flex: 1;
}

.box-left .logo-ufsj {
  height: 60px;
  width: auto;
}

.box-center {
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  position: absolute;
  min-width: 350px;
}

.box-center h1 {
  font-size: 16px;
  padding: 0;
}

.box-center h2 {
  font-size: 12px;
  padding: 0;
}


.box-right {
  flex: 1;
  text-align: right;
  margin-right: 5%;
}

.box-right .logo-ufsj {
  height: 60px;
  width: auto;
}


