
.sidebar {
  --button-border-radius: 20px;
  --li-horizontal-margin: 5px;

  position: fixed;
  z-index: 2;
  top: 100px;

  width: 200px;
  height: 100%;

  background-color:#383939;

  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  box-shadow: 10px 10px 15px 0  rgba(0, 0, 0, 0.8);
}

.sidebar h1 {
  font-size: 24px;
  margin-left: 20px;
}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: var(--li-horizontal-margin);
  margin-right: var(--li-horizontal-margin);
}

.sidebar ul li.selected {
  margin-right: 0px;
}

.sidebar ul li button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #404141;
  color: inherit;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  color: #b8b9b9;
  border-radius: var(--button-border-radius);
}

.sidebar ul li button.selected {
  background-color: #1e1e1e;
  border-radius: var(--button-border-radius) 0px 0px var(--button-border-radius);
}
